<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let Fruit of fruitsList">
                <div class="card h-100">
                    <img class="card-img-top" [src]="Fruit.p_image" alt="no image" />
                    <div class="card-body p-4 border ">
                        <div class="text-center">
                            <h5 class="fw-bolder">Fruit Name : {{Fruit.p_name}}</h5>
                            <p>Cost : {{Fruit.p_cost}}$ </p>
                            <p>Availability : {{Fruit.p_availability}}</p>
                            <p> {{Fruit.p_details}}</p>
                            <a class="btn btn-outline-primary mt-auto" href="fruits/view-Fruits/{{Fruit.p_id}}"> View </a>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</section>
