<div class="container border">
    
<form #ctd="ngForm" (submit)="Updatedfile(ctd)" *ngFor="let product of product">
    p_name:<br>
    <input type="text" name="p_name" id="p_name" [(ngModel)]="product.p_name"><br><br>
    p_id:<br>
    <input type="text" name="p_id" id="p_id" [(ngModel)]="product.p_id"><br><br>
    p_cost:<br>
    <input type="text" name="p_cost" id="p_cost" [(ngModel)]="product.p_cost"><br><br>
    p_availability:<br>
    <input type="text" name="p_availability" id="p_availability" [(ngModel)]="product.p_availability"><br><br>
    p_details:<br>
    <input type="text" name="p_details" id="p_details" [(ngModel)]="product.p_details"><br><br>
    p_category:<br>
    <input type="text" name="p_category" id="p_category" [(ngModel)]="product.p_category"><br><br>
    p_image:<br>
    <input type="text" name="p_image" id="p_image" [(ngModel)]="product.p_image"><br><br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>